@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Esqueceu a sua Palavra-passe?";
}

<head>
    <link rel="stylesheet" href="~/css/Autentication.css" />
</head>
<div id="title">
    <h1 id="title-forgot-pwd">@ViewData["Title"]</h1>
    <h4 id="title4-forgot-pwd">Coloque aqui o seu email.</h4>
</div>

@*<h1>@ViewData["Title"]</h1>
<h4>Enter your email.</h4>
<hr />*@
<div class="row">
    <div class="col-md-4">
        <form  id="forgot-password-container" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn-normal" id="btn-forgot-password">Enviar</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
