@model Prestar.Models.New

@{
    ViewData["Title"] = "Criar Notícia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/News_Formations.css" />
</head>

<div id="title">
    <h4 class="text-muted">Criar uma Notícia</h4>
</div>

<div class="row" style="justify-content:center!important;">
    <div class="col-md-8">
        <form asp-action="Create" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" placeholder="Exemplo de Titulo - COVID" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SecondTitle" class="control-label"></label>
                <input asp-for="SecondTitle" class="form-control" placeholder="Exemplo de Segundo Titulo - Informações Sobre o COVID" />
                <span asp-validation-for="SecondTitle" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" cols="5" rows="6" placeholder="Escreva aqui o conteúdo da noticia..." style="white-space: pre-wrap;"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <img id="Illustration" style="height:300px; object-fit:scale-down" src="~/images/Images-rafiki.png">
                <input type="file"
                       accept=".png,.jpg,.jpeg,.gif,.tif"
                       asp-for="Illustration"
                       class="form-control"
                       style="border:0px!important;padding: 0px;padding-top: 10px;padding-bottom: 30px;background-color:#f3f3f5;"
                       onchange="document.getElementById('Illustration').src = window.URL.createObjectURL(this.files[0])" />
                <span asp-validation-for="Illustration" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Criar Noticia" class="btn btn-normal mt-3" id="btn-news" />
                <a class="btn btn-normal mt-3" id="btn-news" asp-action="Index">Regressar as Noticias</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}