@{
    ViewData["Title"] = "404 Not Found";
}
<head>
    <style>
        .responsive {
            width: 100%;
            max-width: 486px;
            height: auto;
        }
    </style>
</head>

<br />
<br />
<div class="text-center">
    <img img id="404notfound" class="responsive" style="object-fit:scale-down" src="~/images/error-404-page-3100432-2585648_editado.png" />
    <br />
    <h2 class="text-uppercase text-muted mb-2" style="font-weight: bold; font-family: sans-serif; letter-spacing: 0.1em;">a página que procurou não foi encontrada...</h2>
    <h4 class="text-uppercase text-muted mt-4" style="font-weight: bold; font-family: sans-serif; letter-spacing: 0.1em;">por favor volte atrás</h4>
</div>
