@model Prestar.Models.Section

@{
    ViewData["Title"] = "Editar Secção";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/Norm_Manual.css" />
</head>

<div id="title">
    <h4 class="text-muted">Editar Secção @Model.Title</h4>
</div>

<div class="row" style="justify-content:center!important;">
    <div class="col-md-8">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SectionID" />
            <input type="hidden" asp-for="UserManualID" />

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" cols="5" rows="10" class="form-control" style="white-space: pre-wrap;">@Model.Content</textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Illustration" style="width: 100%;"></label>
                @if (Model.Illustration != null)
                {
                    <img id="IllustrationS" style="width:350px;height:350px; object-fit:scale-down" src="data:image/*;base64,@(Convert.ToBase64String(Model.Illustration))">
                }
                else
                {
                    <img id="IllustrationS" style="width:350px;height:350px; object-fit:scale-down" src="~/images/Images-rafiki.png">
                }
                <input type="file"
                       accept=".png,.jpg,.jpeg,.gif,.tif"
                       asp-for="Illustration"
                       class="form-control"
                       style="border:0px!important;padding: 0px;padding-top: 10px;padding-bottom: 30px; background-color:#f3f3f5;"
                       onchange="document.getElementById('IllustrationS').src = window.URL.createObjectURL(this.files[0])" />
                <span asp-validation-for="Illustration" class="text-danger"></span>
            </div>

            <div class="form-group text-center" id="btn-manual">
                <button type="submit" class="btn btn-normal">Guardar Alterações</button>
                <button class="btn btn-normal" asp-controller="UserManuals" asp-action="Edit" asp-route-id="@Model.UserManualID">Voltar para as Secções</button>
            </div>
        </form>
    </div>
</div>

